.navbar {
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 1rem 20rem;
}

.left-nav {
  display: flex;
}

.logo-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

ul {
  display: flex;
  list-style: none;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  margin: 0;
}

ul > li {
  cursor: pointer;
}

.search-bar {
  background-color: #373737;
  padding: 0rem 2rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  width: 20rem;
  border-radius: 10px;
}

h1 {
  font-size: 30px;
  margin: 0;
}

span {
  background: url(./assets/dropdown.svg);
  width: 1rem;
  display: inline-block;
  height: 1rem;
  background-repeat: no-repeat;
  position: relative;
  top: 5px;
  left: 5px;
}

button {
  background-color: white;
  color: black;
  padding: 0 1rem;
  border: none;
  border-radius: 10px;
}

button:hover {
  background-color: grey;
}
